S2_MTD/*.xml
atl03_segments/*.h5
imagery_gt/*.csv
imagery_gt/*.tiff
imagery_gt/*.tif
training_data_CSVs/*.csv
training_data_CSVs/*.jpg
data_paper/*.csv
data_paper/*.parquet
training_data_gris/*
__pycache__
zzz_*
!plots/*.jpg
sonar/
