*.h5
*.jpg
temp.csv
IS2data/
__pycache__/
.ipynb_checkpoints/
misc/test1
*.bash_history
*.python_history
*.log
*.err
*.out
zip_testing.zip
figs/*.jpg
shapefiles/
test_nsidc_osg/outputs/
*.pkl
figs_extent/
random_testing.ipynb
figs_random/
figs_afterpulses/
