*.h5
*.jpg
*.pkl
*.zip
*.log
*.err
*.out
*.sif
temp.csv
IS2data/
ed/
__pycache__/
.ipynb_checkpoints/
*.bash_history
*.python_history
shapefiles/
test_nsidc_osg/outputs/
figs_extent/
random_testing.ipynb
figs_random/
figs_afterpulses/
shapefiles/
detection_out_stat/stats*.csv
0
success.txt
failed_jobs/
granule_stats/
zzz*
mprofile_*.dat
!resource_analysis/resource-usage_plots.jpg
!misc/granule_list_data.jpg
misc/test1
sonar_data_plots.tar.gz
