*.h5
*.jpg
*.pkl
*.zip
*.log
*.err
*.out
*.sif
temp.csv
IS2data/
__pycache__/
.ipynb_checkpoints/
*.bash_history
*.python_history
shapefiles/
test_nsidc_osg/outputs/
figs_extent/
random_testing.ipynb
figs_random/
figs_afterpulses/
